{
  "bucket": "mystore.in",
  "resizes": [
    {
      "size": "50",
      "gravity": "Center",
      "crop": "50x50",
      "orientation": true
    },
    {
      "size": "100",
      "gravity": "Center",
      "crop": "100x100",
      "orientation": true
    },
    {
      "size": "120"
    },
    {
      "size": "240"
    },
    {
      "size": "480"
    },
    {
      "size": "640"
    },
    {
      "size": "1024"
    },
    {
      "size": "2048"
    }
  ]
}
